.aboutContainer
{
  display : flex ;
}

.aboutContainerChildren1{
  flex-grow:3;
}
.aboutContainerChildren2{
  flex-grow:1;
}

.img{
    padding-right: 10px;
    width:350px;
    height:440px; 
    border-radius: 20px;
    
  }

.parrafo
{
    border: black 3px solid;
    overflow: auto;
}
